/* Styles für das Brau-Prozessdiagramm */

.brew-process-container {
  width: 100%;
}

.brew-chart-filter {
  margin-bottom: 15px;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.brew-filter-button {
  margin: 5px;
  padding: 8px 12px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  background-color: var(--color-surface-soft);
  color: var(--color-dark-bg);
  font-weight: normal;
}

.brew-filter-button.active {
  background-color: var(--color-orange-main);
  color: white;
  font-weight: bold;
}

.brew-chart-container {
  width: 100%;
  height: 505px;
}

.brew-tooltip {
  font-weight: normal;
  font-size: 12px;
  background: var(--color-white);
  border: 2px solid var(--color-orange-main);
  border-radius: 4px;
  padding: 8px;
  box-shadow: 2px 2px 6px var(--shadow-card-strong);
  max-width: 220px;
  width: auto;
}

.brew-tooltip-dark {
  background: var(--color-dark-bg)333;
  color: var(--color-white);
}

.brew-process-area-label {
  fill: white;
  font-size: 13px;
  font-weight: bold;
}

.brew-state-area-label {
  fill: white;
  font-size: 12px;
  font-weight: bold;
}

.brew-state-duration-label {
  fill: white;
  font-size: 12px;
}

.brew-cursor {
  stroke: var(--color-orange-main);
  stroke-width: 1;
}

.brew-brush {
  height: 36px;
}
