.AppBody {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    background: #333333;
}

.AppContainer {
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    background: #333333;
}

.AppHeader {
    position: fixed;
    top: 0;
    height: 80px;
    width: 100%;
    background: var(--color-accent);
    z-index: 999;
}

.content {
    flex: 1; /* F端llt den verf端gbaren Platz im Container */
    display: flex;
}

.CustomTable {
    flex: 70%; /* Nimmt 70% des verf端gbaren Platzes im Content-Bereich ein */
    margin: 10px;
}

.Details {
    flex: 30%; /* Nimmt 30% des verf端gbaren Platzes im Content-Bereich ein */
    display: flex;
    flex-direction: column;
    background-color: var(--color-brew-bg);
    margin: 10px;
}
.Index {
    margin-top: 80px;
}


