@keyframes blink {
    0% { opacity: 1; }
    50% { opacity: 0; }
    100% { opacity: 1; }
}

.blinking-button {
    animation: blink 1s infinite;
    color: red;
}

.containerProduction {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 0.8fr 1.7fr;
    grid-template-rows: 0.15fr 1fr 1fr 0.6fr 0.1fr 0.4fr;
    gap: 5px 5px;
    grid-auto-flow: row;
    justify-content: space-between;
    justify-items: stretch;
    align-items: stretch;
    grid-template-areas:
    "Header Header Header Header Header"
    "Water Water Agitator Agitator Settings"
    "Water Water Temp Temp Settings"
    "Water Water Info Info Info"
    "Flame Flame Info Info Info"
    "Timeline Timeline Timeline Timeline Timeline";
}

.HeaderProduction {
    margin: 2px;
    grid-area: Header;
    display: flex;
    justify-content: left;
    align-items: center;
}
.HeaderText{
    margin-left: 2rem;
    color: #eeeeee;
    font-size: 20px;
    font-weight: bold;
    display: flex;
    justify-content: left;
    align-items: center;

    }

.Water {
    grid-area: Water;

    display: flex; justify-content: center; /* Horizontale Zentrierung hinzugefügt */
    align-items: center; /* Vertikale Zentrierung hinzugefügt */
    background: #404040;
}

.Flame { grid-area: Flame;   display: flex; justify-content: center; /* Horizontale Zentrierung hinzugefügt */
    align-items: center; /* Vertikale Zentrierung hinzugefügt */}

.Agitator { grid-area: Agitator;    align-items: center; justify-content: center;display: flex;background: #404040;}
.GaugeContainer {
    padding: 20px; /* Abstand zwischen den Gauge-Komponenten */
}

.Temp { grid-area: Temp; display: flex; justify-content: center; /* Horizontale Zentrierung hinzugefügt */
    align-items: center;background: #404040;; /* Vertikale Zentrierung hinzugefügt */}

.Settings { grid-area: Settings;display:block; background: #404040;}

.Timeline { grid-area: Timeline;  background: #404040;}

.Info { grid-area: Info;  display: flex; justify-content: left;background: #404040;}


html, body , .container {
    height: 100%;
    margin: 0;
}


.timeContainer {
    margin-top: 2rem;
    margin-left: 0.5rem;
    justify-content: center;
    align-items: center;
    background-color: #c9c9c9; /* Hintergrundfarbe ändern */
    border-style: ridge;
    border-radius: 5px;
    height: 6.3rem;
}
.timeline{
    margin-left: 20px;
}

.frame {
    border: 2px solid #333;
    padding: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #333333; /* Hintergrundfarbe des Rahmens ändern */
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1); /* Schatten hinzufügen */
}

.label {
    color: #eeeeee;
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 8px;
}

.time {
    color: #eeeeee;
    font-size: 24px;
}

.settingsRow {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    margin-top: 10px;
}

.settingsRowWater {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    margin-top: 3rem;
}

.rightAligned {
    margin-right: 5rem;
}

.quantityPickerItem {
    margin-top: 10px;
}

.leftAligned {
    margin-left: 5rem;
    margin-top: 1.75rem;
}

.formControlGroup {
    display: flex;
    flex-direction: column;
    margin-left: 10px;
}

.formControlLabelItem {
    margin-bottom: 2.3rem;
}
.progressLabel {
    margin-left: 1rem ;
}


