@keyframes blink {
    0% { opacity: 1; }
    50% { opacity: 0; }
    100% { opacity: 1; }
}

.blinking-button {
    animation: blink 1s infinite;
    color: red;
}

.angry-grid {
    height: 80vh;
    margin-top: 60px;
    display: grid;
    grid-template-rows: 1fr 1fr 1fr 1fr 0.2fr 1fr 1fr;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
    gap: 0px;
}


#item-0 {
    display: flex;
    grid-row-start: 2;
    grid-column-start: 1;
    grid-row-end: 5;
    grid-column-end: 3;
    align-items: center;
    justify-content: center; /* Horizontale Zentrierung hinzugefügt */
    height: auto;
}
#item-1{

}


#item-2 {
    align-items: center;
    grid-row-start: 2;
    grid-column-start: 3;
    display: flex;
    grid-row-end: 3;
    grid-column-end: 6;
    justify-content: left; /* Horizontale Zentrierung hinzugefügt */
}

#item-3 {
    display: flex;
    align-items: center;
    grid-row-start: 3;
    grid-column-start: 3;
    grid-row-end: 4;
    grid-column-end: 6;
    justify-content: left; /* Horizontale Zentrierung hinzugefügt */
}

#item-4 {
    grid-row-start: 4;
    grid-column-start: 3;
    grid-row-end: 5;
    grid-column-end: 6;
    justify-content: center; /* Horizontale Zentrierung hinzugefügt */
}

#item-5 {
    margin-top: 60px;
    background-color: #5f7d8d;
    grid-row-start: 5;
    grid-column-start: 1;
    grid-row-end: 6;
    grid-column-end: 3; /* Änderung von 3 auf 6 */

    display: flex; /* Flexbox hinzugefügt */
    justify-content: center; /* Horizontale Zentrierung hinzugefügt */
    align-items: center; /* Vertikale Zentrierung hinzugefügt */
}
#item-6{
    grid-row-start: 6;
    grid-column-start: 1;
    grid-row-end: 7;
    grid-column-end: 7;
    justify-content: center; /* Horizontale Zentrierung hinzugefügt */
}
.timeContainer {
    margin-left: 20px;
    justify-content: center;
    align-items: center;
    background-color: #c9c9c9; /* Hintergrundfarbe ändern */
    border-style: ridge;
    border-radius: 5px;
}
.timeline{
    margin-left: 20px;
}

.frame {
    border: 2px solid #333;
    padding: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #333333; /* Hintergrundfarbe des Rahmens ändern */
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1); /* Schatten hinzufügen */
}

.label {
    color: #eeeeee;
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 8px;
}

.time {
    color: #eeeeee;
    font-size: 24px;
}


