.Table {
  background-color: var(--color-brew-bg);
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}

.Table .table-row {
  height: auto;
}

.Table .table-cell,
.Table .table-cell input,
.Table .table-cell select,
.Table .table-cell textarea {
  font-size: 1rem;
  color: white;
}

.Table .table-header {
  height: 1rem;
  background-color: var(--color-accent);
}

.Table .table-header-cell {
  height: 1rem;
  font-size: 1rem;
  font-weight: bold;
}

.selected {
  background-color: var(--color-accent);
  color: white;
}

.Table .select-btn {
  color: var(--color-white);
  border: none;
  border-radius: 4px;
  padding: 0.25rem 0.75rem;
  font-size: 0.75rem;
  font-weight: bold;
  cursor: pointer;
  transition: background 0.2s;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 2rem;
  min-width: 4rem;
}

.Table .select-btn:hover {
  background-color: var(--color-accent);
  color: var(--color-gray-deep);
}

.Table .select-btn:disabled {
  background-color: var(--color-gray-muted);
  color: var(--color-gray-strong);
  cursor: not-allowed;
  border: none;
  opacity: 1;
}

.Table .cancel-btn {
  background-color: var(--color-error-deep);
  color: var(--color-white);
  border: none;
  border-radius: 4px;
  padding: 0.25rem 0.75rem;
  font-size: 0.75rem;
  font-weight: bold;
  cursor: pointer;
  margin-left: 0.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 2rem;
  min-width: 4rem;
  transition: background 0.2s;
}

.Table .cancel-btn:hover {
  background-color: var(--color-error-mid);
  color: var(--color-white);
}
