
.CustomTable {
    flex: 1;
    overflow: auto;
    padding: 10px;
    height: 100%;
}
.ingredients-wrapper {
    overflow: visible;
    height: auto;
}


.DetailsContainer {
    flex: 1;
    height: 100%;
    overflow: auto;
    padding: 10px;

}

/* Stilregeln für SimpleBar */
.simplebar-content-wrapper {
    height: 100%;
}

.simplebar-content {
    height: 100%;
}

.simplebar-scrollbar::before {
    background-color: var(--color-gray-strong);
}

.simplebar-scrollbar.simplebar-visible::before {
    opacity: 0.6;
}

.simplebar-track.simplebar-vertical {
    background-color: var(--color-gray-light);
}

.simplebar-scrollbar.simplebar-visible.simplebar-vertical {
    opacity: 0.6;
}

.simplebar-track.simplebar-horizontal {
    background-color: var(--color-gray-light);
}

.simplebar-scrollbar.simplebar-visible.simplebar-horizontal {
    opacity: 0.6;
}
