
.main-view {
    flex: 1;
    display: flex;
}

.main-view .CustomTable {
    flex: 70%;
    margin: 10px;
}

.main-view .Details {
    flex: 30%;
    display: flex;
    flex-direction: column;
    background-color: var(--color-brew-bg);
    margin: 10px;
}

.main-view .DetailsContainer {
    flex: 1;
    height: 100%;
    overflow: auto;
    padding: 10px;
}
