/* quantityPicker.css */
.quantity-picker-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.quantity-picker-label {
    padding: 0.2rem 0.2rem;
    color: var(--color-light-text);
}

.quantity-picker-content {
    display: flex;
    align-items: center;
}
.decrement-btn {
    width: 3rem;
    height: 3rem;
    border-radius: 8px 0 0 8px;
    background-color: var(--color-input-bg); /* Weißer Hintergrund für den Bereich mit der Zahl */
    color: var(--color-input-border);
    border-right: var(--color-input-border) 1px solid;
    &:disabled {
        background-color: var(--color-input-bg2);
        cursor: not-allowed;
    }
}
.increment-btn {
    width: 3rem;
    height: 3rem;
    border-radius: 0 8px 8px 0;

    background-color: var(--color-input-bg); /* Weißer Hintergrund für den Bereich mit der Zahl */
    color: var(--color-input-border);
    border-left: var(--color-input-border) 1px solid;
}
.increment-btn:hover {
    background-color: var(--color-input-bg3);
    cursor: pointer;
}
.decrement-btn:hover {
    background-color: var(--color-input-bg3);
    cursor: pointer;
}
.increment-btn:disabled
{
    background-color: var(--color-input-bg2);
    cursor: not-allowed;
}

.decrement-btn:disabled {
    background-color: var(--color-input-bg2);
    cursor: not-allowed;
    /* Weitere Styles für den deaktivierten Button... */
}


.quantity-picker-input{
    width: 3.5rem;
    height: 3rem;
    flex-grow: 1;
    flex: 1; /* Nimmt den verfügbaren Platz ein, um den Raum zwischen Buttons und der Zahl zu füllen */
    display: flex;
    justify-content: center;
    align-items: center;

    background-color: var(--color-input-bg); /* Weißer Hintergrund für den Bereich mit der Zahl */

}
.quantity-picker-input-disabled {
    background-color: var(--color-input-bg2);
    cursor: not-allowed;
}
/* Positionierung des Labels */
.label-above {
    flex-direction: column;
}

.label-left {
    flex-direction: row;
}

.label-right {
    flex-direction: row-reverse;
}

.label-below {
    flex-direction: column-reverse;
}
