@keyframes flame {
    0% {
        border-bottom-right-radius: 18%;
        transform: translateY(4%) rotate(43deg) scale(1);
    }
    100% {
        border-bottom-right-radius: 28%;
        transform: translateY(-4%) rotate(45deg) scale(0.94);
    }
}

.flameRoot {
    width: clamp(2.2rem, 18%, 5rem);
    aspect-ratio: 8 / 5;
    display: flex;
    align-items: flex-end;
    justify-content: center;
    min-width: 2rem;
}

.flameContainer {
    position: relative;
    width: 100%;
    height: 100%;
    display: block;
}

.outer {
    width: 46%;
    height: 58%;
    background-color: lightblue;
    box-shadow: 0 0 0.5rem lightblue;
}

.inner {
    width: 30%;
    height: 30%;
    background-color: orange;
    right: 28%;
    bottom: 16%;
    transform: rotate(0deg) !important;
    box-shadow: 0 0 0.5rem orange;
}

.flame {
    position: absolute;
    right: 26%;
    bottom: 8%;
    border-radius: 0 110px 20px 110px;
    animation: flame .5s alternate ease-in-out infinite;
    transform-origin: center bottom;
}
