.watercontainer {
    width: 80%;
    height: 90%;
    position: relative;
    background: white;
    box-shadow: 0 0 10px var(--shadow-water);
}

.water-level {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    height: 0;
    background-color: var(--color-water-blue);
    transition: height 0.5s;
}

.waves {
    position: absolute;
    top: -10px;
    left: 0;
    right: 0;
    height: 10px;
    background-image: linear-gradient(transparent, var(--color-water-blue));
    animation: waves 1s infinite linear;
}

@keyframes waves {
    0% {
        background-position: 0 0;
    }
    100% {
        background-position: 100% 0;
    }
}

@keyframes spin {
    0% {
        transform: translateX(-50%) rotate(0deg);
    }
    100% {
        transform: translateX(-50%) rotate(360deg);
    }
}
